body {
    background-repeat: no-repeat;
    background-size: 100%;
}
.menu{
    opacity: 0.7;
    background-color: #cafa69;
    text-align: center;
    padding: 20px;
}
.menu a {
    color: rgb(233, 52, 52);
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
}
a:hover:not(.active) {
    border-bottom: 5px rgb(73, 216, 195) solid;
    background-color: #000000;
    color: white;
}
img{
    position: absolute;
    left: 40%;
    top: 12%;
    width: 20%;
    visibility: hidden;
    z-index: 1;
}