body {
    background-repeat: no-repeat;
    background-size: 100%;
}
.menu{
    opacity: 0.7;
    background-color: #79b10b;
    text-align: center;
    padding: 20px;
}
a {
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
}
a:hover:not(.active) {
    border-top: 3px blue solid;
    background-color: #000000;
}
img{
    display: none;
}