*{
    padding: 0;
    margin: 0;
}
header {
    background-color: rgba(0, 0, 0, 0.15);
    position: relative; 
    height: 80px;
    width: 100%;
}
header h1
{
    color: white;
}
header a{
    color: white;
    text-decoration: none;
}
header a:hover{
    text-decoration:underline;
}
header li
{
    display: inline;
    margin-right: 4vw; /*viewport width larghezza della finestra*/
}
header ul{
    position: absolute;
    right: 5vw;
    top: 15px;
}