*{
    padding: 0;
    margin: 0;
}
header {
    background-color: rgba(0, 0, 0, 0.2);
    position: relative; 
    height: 80px;
    width: 100%;
}
header h1
{
    color: white;
}
header a{
    color: white;
    text-decoration: none;
}
header a:hover{
    text-decoration:underline;
}
header li
{
    display: inline;
    margin-right: 4vw; /*viewport width larghezza della finestra*/
}
header ul{
    position: absolute;
    right: 5vw;
    top: 15px;
}
body {
    background-image: url("https://cdn2.unrealengine.com/genshin-impact-4-1920x1080-30df09f89d45.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}