body{
    background-color: antiquewhite;
}

.container{
    width: 50%;
    height: 50%;
    padding: 20px;
    border: 4px solid aquamarine;
    margin-top: 30px;
}
input[type = "password"],input[type = "text"],input[type = "submit"]
{
    width: 100%;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
}