body {
    background-image: url("https://cdn2.unrealengine.com/genshin-impact-4-1920x1080-30df09f89d45.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.mySlides{
  display: none;
  z-index: 1;
  width: 1900px;
  height: 960px;
}
.paginationLeft {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    position: absolute;
    top: 50%;
  }
.paginationRight {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    position: absolute;
    top: 50%;
    right: 0%;
  }
a:hover:not(.active) {
    background-color: #ddd;
}
.textBlock {
    position: fixed;
    border: 2px solid black;
    top: 5%;
    bottom: 5%;
    left: 40%;
    right: 5%;
    background-color: gray;
    opacity: 0.8;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
