.backImg {
    background-repeat: no-repeat;
    background-size: 100%;
}
html:hover{
    cursor: url("../Img/cursor.png"), auto;
}
.menu{
    opacity: 0.7;
    background-color: #cafa69;
    text-align: center;
    padding: 20px;
    border-top: black 10px solid;
}
.menu a {
    color: rgb(233, 52, 52);
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu a:hover:not(.active) {
    border-bottom: 5px rgb(73, 216, 195) solid;
    background-color: #000000;
    color: white;
}
.img{
    position: absolute;
    left: 40%;
    top: 12%;
    width: 20%;
    visibility: hidden;
    z-index: 1;
}
#video-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  #myVideo {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100%; 
    height: auto;  
    object-fit: cover; 
    transition: opacity 1s ease-out; 
  }