body{
    background-image: url(https://patchwiki.biligame.com/images/ys/0/00/0icmbr0jyfoceb8r5v0wfcxotq5qusx.png);
    background-repeat: "no-repeat";
    background-size:100%;
    background-image: url(https://patchwiki.biligame.com/images/ys/8/8e/hyv4sdbd9ye8bczvmtj4kvbv2js5ekt.png);
    background-repeat: "no-repeat";
    background-size:100%;
    background-image: url(https://patchwiki.biligame.com/images/ys/9/96/f7piyifzih3a4oqxj457x4bkd65lmg5.png);
    background-repeat: "no-repeat";
    background-size:100%;
    background-image: url(https://patchwiki.biligame.com/images/ys/5/52/4h8qn4rez3dp4xghoq7ovs1s6ylawi4.png);
    background-repeat: "no-repeat";
    background-size:100%;
    background-image: url(https://patchwiki.biligame.com/images/ys/e/ef/jezmxgsxrzx9834ew94jyo431b422m5.png);
    background-repeat: "no-repeat";
    background-size:100%;
    background-image: url(https://patchwiki.biligame.com/images/ys/b/b3/gnbndw2ln1m1skch8uca6jfbfcf0w99.png);
    background-repeat: "no-repeat";
    background-size:100%;
    background-image: url(https://patchwiki.biligame.com/images/ys/0/07/bkx986wcazssqgnh3kofc0ddfw9y77l.png);
    background-repeat: "no-repeat";
    background-size:100%;
    background-image: url(https://patchwiki.biligame.com/images/ys/9/9a/jjg2odt1nb1urpsq8mdkual6s72m01x.png);
    background-repeat: "no-repeat";
    background-size:100%;
    background-image: url(https://patchwiki.biligame.com/images/ys/1/1f/2y9doddwexesylqj53jcgfm4ez7tbxy.png);
    background-repeat: "no-repeat";
    background-size:100%;
    background-image: url(https://patchwiki.biligame.com/images/ys/1/10/bty82ic56agooh9ahsom98nzvmu9eol.png);
    background-repeat: "no-repeat";
    background-size:100%;
    background-image: url(https://patchwiki.biligame.com/images/ys/7/7e/mrt934pknc5klds5lp50ehcoqj1wx1d.png);
    background-repeat: "no-repeat";
    background-size:100%;
    background-image: url(https://patchwiki.biligame.com/images/ys/4/4e/8t1lllbo7s67mjrqi02eqtvkh6ictzj.png);
    background-repeat: "no-repeat";
    background-size:100%;
    background-image: url(https://patchwiki.biligame.com/images/ys/7/71/8jy5zkqqztnr0ngcj1aztq9e3zmugft.png);
    background-repeat: "no-repeat";
    background-size:100%;

}